.nav {
    background-color: royalblue;
    padding: 20px 50px;
}

.tit {
    color: #fff;
}

.list_nav {
    display: flex;
    justify-content: right;
    gap: 16px;
    list-style: none;
    align-items: center;
}

.list_nav a {
    text-decoration: none;
    color: #fff;
}

.list_nav strong {
    color: #fff;
}

.nav button {
    margin-left: 20px;
    padding: 6px 12px;
    border-radius: 10px;
    background-color: teal;
    border: none;
    color: #fff;
    cursor: pointer;
}

@media (max-width: 760px) {
    .tit {
        font-size: 1.5rem;
    }
}