.nav {
    background-color: royalblue;
    padding: 20px 50px;
}

.tit {
    color: #fff;
}

.list_nav {
    display: flex;
    justify-content: right;
    gap: 16px;
    list-style: none;
}

.nav a {
    text-decoration: none;
    color: #fff;
}